.add_subject{
	background: none repeat scroll 0 0 #FEFCFD;
    border: 1px solid #E9E9E9;
    color: #535353;
    height: 35px;
	width:80px;
    line-height: 22px;
    margin:20px 10px;
	font-size:14px;
	text-align:center;
}
.text_space span {
    display: inline-block;
    text-align: right;
    width: 100px;
}
.manageSubject{
	background: none repeat scroll 0 0 #FEFCFD;
    border: 1px solid #E9E9E9;
    color: #535353;
    cursor: pointer;
    height: 35px;
	width:60px;
    line-height: 22px;
    margin-right: 10px;
	margin-left:100px;
    padding: 0 5px;
	font-size:14px;
}
.input_txt {
	border: 1px solid #CCCCCC;
	box-shadow: 2px 2px 2px #DDDDDD inset;
	font-size: 14px;height: 30px;
	line-height: 35px;
	vertical-align: middle;
	width: 200px;
}